<!DOCTYPE html>
<html>
  <head>
    <title>ABC Concrete</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <div class="navbar">
        <ul>
          <div class="navbarul">
              <li><%= link_to "Home", root_path, class: "navbarli" %></li>
              <li><%= link_to "Who We Are", about_path, class: "navbarli"%></li>
              <li><%= link_to "Our Work", work_path, class: "navbarli"%></li>
              <li><%= link_to "Let's Talk", new_contact_path, class: "navbarli"%></li>
          </div>
        </ul>
    </div>
  </head>

  <body>
    <div class="containter">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
  <foot>
    <div class="footer">
      <ul>
        <div class="footerul">
          <li class="footerli">Legal</li>
          <li class="footerli">Copyright ABC Concrete</li>
        </div>
      </ul>
    </div>
  </foot>
</html>
